<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.german.copaconfederaciones">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".CopaConfederaciones"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cup_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.RedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MatchListActivity" />
        <activity android:name=".activities.LoginActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2b6fd6566872b0c08de02d76012ad11cfa61f924"
            />

    </application>

</manifest>